/* Style for the main card */
.mainCard {
  min-height: 40vh;
  min-width: 70vw;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .mainCard {
    /* Reduce margins for smaller screens */
    min-height: 70vh;
    min-width: 85vw;
  }
}

/* Style for the main title */
.mainTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 20px;
}