.mainCard {
  min-height: 40vh;
  min-width: 70vw;

  @media (max-width: 768px) {
    min-height: 70vh;
    min-width: 100vw;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 20px;
  }

  &__footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
}