.heroeTableContainer {
    margin-top: 0%;
    margin: 5%;
}

.loadingTable {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.filterTable {
    width: 100%;
    display: inline-block;
}

.insertMockHeroes {
    text-align: center;
    padding: 1em;
}

.hidden {
    visibility: hidden;
}

/** avoid the page changin size when the table is loading */
.mainTable {
    min-height: 300px;

}