.tableContainer {
    margin-top: 0%;
    padding: 5%;

    &__filter {
        width: 100%;
        display: inline-block;
    }

    &__deleteHero {
        margin-left: 2em;

        @media (max-width: 768px) {
            margin-left: 0;
        }

        &__spinner {
            height: 1em !important;
            width: 1em !important;
            display: inline-block;
        }
    }

    &__emptyRow {
        text-align: center;
        padding: 2em;
        font-size: large;

        &__spinner {
            margin-top: 2em;
            justify-content: center;
            display: inline-block;

        }
    }

}



.functionalities {
    text-align: center;
    padding: 1em;

    &__disabled {
        font-size: small;
        padding-bottom: 2em;
        color: red;
    }
}

.hidden {
    visibility: hidden;
}

/** avoid the page changin size when the table is loading */