.tableContainer {
    margin-top: 0%;
    margin: 5%;

    &__filter {
        width: 100%;
        display: inline-block;
    }


}




.functionalities {
    text-align: center;
    padding: 1em;

    &__disabled {
        font-size: small;
        margin-bottom: 2em;
        color: red;
    }
}

.hidden {
    visibility: hidden;
}

/** avoid the page changin size when the table is loading */


.loadingTable {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.loadingSpiner {
    max-width: 3em;
    max-height: 3emem;
}